body {
    box-sizing: border-box;
    background-color: rgb(202, 151, 204);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.header{
    background-color: rgb(127, 54, 129);
    color: rgb(252, 246, 246);
}
h1{
    text-align: center;
}

ul{
    display: inline-table
}
